.item.item-row-0 {
    background-color: #f8f5dc;
}
.item.item-row-1 {
    background-color: #dcf8e4;
}
.item.item-row-2 {
    background-color: #dce4f8;
}
.item.item-row-3 {
    background-color: #e9dcf8;
}